main {
  text-align: left;
  font-size: 45px;
  font-family: "Noto Sans JP", sans-serif;
  display: flex;
  justify-content: center;
}

/* Implementing responsive design media queries for mobile and tablet devices */
@media all and (min-width: 500px) and (max-width: 750px) {
  main {
    max-width: 500px;
  }
}
