main {
  text-align: center;
  font-size: 45px;
  font-family: "Noto Sans JP", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 50px auto;
  font-size: 20px;
  white-space: nowrap;
  padding: 50px 20px;
  border-style: solid;
  width: 250px;
}

ul {
  list-style-position: inside;
  list-style-type: none;
  padding-left: 0;
}
/* Implementing responsive design media queries for mobile and tablet devices */
@media all and (min-width: 500px) and (max-width: 750px) {
  main {
    max-width: 500px;
  }
}

@media all and (min-width: 200px) and (max-width: 500px) {
  main {
    max-width: 200px;
    white-space: normal;
  }
}

.item-button {
  background-color: #b942f5;
  border: solid;
  font-size: 16px;
  transition: 0.2s opacity;
  padding: 20px;
  margin: 20px auto;
  width: 200px;
  text-align: center;
}

/*------------------------ CSS Styles for Modal -----------------------------*/
#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #ebebeb;
  padding: 15px;
  width: 95%;
  max-width: 700px;
  text-align: center;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}
