main {
  text-align: center;
  font-size: 45px;
  font-family: "Noto Sans JP", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 50px auto;
  font-size: 20px;
  white-space: nowrap;
  padding: 50px 20px;
  border-style: solid;
  width: 250px;
}

ul {
  list-style-position: inside;
  list-style-type: none;
  padding-left: 0;
}

.item-button {
  background-color: #b942f5;
  border: solid;
  font-size: 16px;
  transition: 0.2s opacity;
  padding: 10px;
  margin: 5px auto;
  width: 100%;
  text-align: center;
}

.list-group-item {
  padding: 0;
  border: 0;
  margin: 0;
}
/* Implementing responsive design media queries for mobile and tablet devices */
@media all and (min-width: 500px) and (max-width: 750px) {
  main {
    max-width: 500px;
  }
}

@media all and (min-width: 200px) and (max-width: 500px) {
  main {
    max-width: 200px;
  }

  .header-pokedex {
    font-size: 30px;
  }
}
